<!DOCTYPE html>

<html lang="en">
    <head>
        <!--Bootstrap-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        
        <!--My CSS file link-->
        <link href="static/styles.css" rel="stylesheet">

        <title>Rob</title>
        <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    </head>
    <body>
        <!--JS link-->
        <script src="static/js/index.js"></script>
        
        <!--Bootstrap-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        
        <nav class="navbar navbar-expand-sm bg-light-primary my-2">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#idOfMainContent" aria-controls="idOfMainContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-center bg-light-subtle p-2" id="idOfMainContent" style="z-index: 1; border-radius: 10px; opacity: 95%;">
                    <div class="navbar-nav">
                        <a name="buttons" class="nav-link web-button">web</a>
                        <a name="buttons" class="nav-link ios-button">iOS</a>
                        <a name="buttons" class="nav-link data-button">data</a>
                        <a name="buttons" class="nav-link about-button">about</a>
                    </div>
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="text-center header" id="header"> </h1>
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-center" style="position: fixed; bottom: 1%;">
                    <p id="credit" style="font-size: xx-small;">Made by me, Rob</p>
                </div>
            </div>
        </div>

        <div class="container-sm justify-content-center content p-4" id="content">
            <div class="row justify-content-center"> <!-- title row -->
                <div class="col">
                    <h1 class="display-5" id="title"></h1>
                </div>
                <div class="col-1 align-content-start">
                    <svg id="close" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <circle cx="12" cy="12" r="10"/>
                        <line x1="8" y1="8" x2="16" y2="16"/>
                        <line x1="8" y1="16" x2="16" y2="8"/>
                    </svg>
                </div>
            </div>
            <div class="row justify-content-center" id="introRow">
                <!-- content goes here -->
            </div>
        </div>
    </body>
</html>

